<div class="print-area">
  <div class="col-12">
    <%= image_tag 'documents/top-document.png', class: 'w-100', alt: 'UTFPR' %>
  </div>
  <div class="row pl-4">
    <div class="col-sm-2">
      <%= image_tag 'documents/left-document.png', class: 'w-100 h-100', alt: 'UTFPR' %>
    </div>
    <div class="col-10">
      <% if show_title %>
        <h4 class="text-center"> <%= I18n.t("enums.categories.#{ @document.category }") %>
          <%= "#{@document.id}/#{@document.created_at.year} - #{@document.department.name}" %></h4>
      <% end %>
      <%== text %>
    </div>
  </div>
</div>