<% provide(:head_title, t('views.document.links.show')) %>
<% provide(:page_title, t('views.document.links.show')) %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">Documento #<%= @document.id %></h3>
  </div>
  <div class="card-body">
    <p>
      <strong><%= t('activerecord.attributes.document.title') %>: </strong>
      <%= @document.title %>
    </p>
    <p>
      <strong><%= t('activerecord.attributes.document.category') %>: </strong>
      <%= t("enums.categories.#{@document.category}") %>
    </p>
    <p>
      <strong><%= t('activerecord.attributes.document.front_text') %>:</strong>
      <%= raw(@document.front_text) %>
    </p>
    <p>
      <strong><%= t('activerecord.attributes.document.back_text') %>:</strong>
      <%= raw(@document.back_text) %>
    </p>
  </div>
</div>

<div class="d-flex mt-3 footer">
  <%= link_to t('views.links.back'), users_documents_path, class: 'btn btn-secondary' %>
  <%= link_to t('views.links.edit'), edit_users_document_path(@document), class: 'btn btn-primary ml-auto' %>
</div>
