<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:head_title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <%= stylesheet_link_tag 'users/document_preview', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'users/document_preview', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller_name %>-<%= action_name %>">
    <%= yield %>
  </body>
</html>
