<tr>
  <td><%= department_module.name %></td>
  <td><%= department_module.description %></td>

  <td>
    <%= link_to edit_admins_department_module_path(@department, department_module) do %>
      <%= icon('fas', 'edit', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.edit')) %>
    <% end %>
    <%= link_to admins_department_module_path(@department, department_module), method: :delete, data: { confirm: t('views.prompt.confirm') } do %>
      <%= icon('fas', 'trash', class: 'icon', data: { toggle: 'tooltip' }, title: t('views.links.destroy')) %>
    <% end %>
  </td>
</tr>
