<%= simple_form_for @user, url: url do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="form-inputs col-sm-6">
      <%= f.input :name %>
    </div>
    <div class="form-inputs col-sm-4">
      <%= f.input :username %>
    </div>
    <div class="pb-2 col-sm-2 d-flex align-items-center">
      @utfpr.edu.br
    </div>
  </div>

  <div class="row">
    <div class="form-inputs col-sm-6">

      <%= f.input :register_number %>
    </div>

    <div class="form-inputs col-sm-6">

      <%= f.input :cpf %>
    </div>
  </div>

  <div class="form-inputs col-sm-6">
    <%= f.input :status, as: :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary float-right' %>
  </div>
<% end %>
