<%= simple_form_for [:admins, @user] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="form-inputs col-sm-6">
      <%= f.input :name %>
    </div>
    <div class="form-inputs col-sm-4">
      <%= f.input :username %>
    </div>
    <div class="pb-2 col-sm-2 d-flex align-items-center">
      @utfpr.edu.br
    </div>
  </div>

  <div class="row">
    <div class="form-inputs col-sm-6">

      <%= f.input :register_number %>
    </div>

    <div class="form-inputs col-sm-6">

      <%= f.input :cpf %>
    </div>
  </div>

  <div class="form-inputs">
    <div class="custom-control custom-switch">
      <%= f.check_box :status, class: "custom-control-input", id: "customSwitch1"   %>
      <label class="custom-control-label" for="customSwitch1">Ativo</label>
    </div>
  </div>

  <div class="form-inputs">
    <%= f.label "Imagem" %> <br>
    <%= f.file_field :image %>
  </div>

  <div class="row">
    <p class="col-sm-3 pt-3">
      <% if @user.image.attached? %>
        <img src="<%= url_for(@user.image) %>">
      <% end %>
    </p>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary float-right' %>
  </div>
<% end %>
