<%= simple_form_for [:admins, @user] do |f| %>

  <div class="row">
    <%= f.input :name, wrapper_html: { class: 'col-sm-6'}  %>
    <%= f.input :username, wrapper_html: { class: 'col-sm-6'} do %>
      <div class="input-group">
        <%= f.input_field :username, class: 'form-control string required' %>
        <span class="input-group-append">
          <span class="input-group-text">@utfpr.edu.br</span>
        </span>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= f.input :register_number, wrapper_html: { class: 'col-sm-6' } %>
    <%= f.input :cpf, input_html: { 'data-mask': '000.000.000-00' }, wrapper_html: { class: 'col-sm-6' } %>
  </div>

  <div class="row">
    <%= f.input :avatar, as: :choose_file, wrapper_html:  { class: 'col-sm-9' }, input_html: { accept: 'image/*' } %>
    <%= f.input :active, as: :switch_single, wrapper_html: { class: 'col-sm-3' } %>
  </div>

  <div class="row">
    <%= f.input :password, wrapper_html:  { class: 'col-sm-6' },
                           hint: (f.object.new_record? ? '' : t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')) %>
    <%= f.input :password_confirmation, wrapper_html:  { class: 'col-sm-6' } %>
  </div>

  <div class="form-footer">
    <div class="d-flex">
      <%= link_to t('views.links.back'), admins_users_path, class: 'btn btn-secondary' %>
      <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
    </div>
  </div>

<% end %>
