<% provide(:head_title, t('views.user.edit.title')) %>
<% provide(:page_title, t('views.user.edit.title')) %>

<div class="breadcrumb"><%= link_to 'Home', :admins_root, class: "pr-1" %> / <%= link_to 'Usuários', :admins_users, class: "pr-1 pl-1" %> / <%= t('views.user.edit.title') %></div>

<%= render 'form', user: @user %>

<%= link_to t('views.links.show'), admins_user_path(@user) %> |
<%= link_to t('views.links.back'), :admins_users %>
