<% provide(:head_title, t('views.user.name.plural')) %>
<% provide(:page_title, t('views.user.name.plural')) %>

<p id="notice"><%= notice %></p>

<div class="breadcrumb"><%= link_to 'Home', :admins_root, class: "pr-1" %> / <%= t('views.user.name.plural') %></div>

<%= link_to t('views.user.new.title'), :new_admins_user, class: "btn btn-primary ml-auto" %>
<div class="table-responsive">

  <table class="table card-table table-striped table-vcenter">
    <thead>
    <tr>
      <th><%= t('views.user.table.name') %></th>
      <th><%= t('views.user.table.email') %></th>
      <th><%= t('views.user.table.username') %></th>
      <th><%= t('views.user.table.register_number') %></th>
      <th>Cpf</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.register_number %></td>
        <td><%= user.cpf %></td>
        <td><%= t('views.user.table.status.' + user.status.to_s)%></td>
        <td><%= link_to t('views.links.show'), admins_user_path(user), class: "btn btn-primary"%></td>
        <td><%= link_to t('views.links.edit'), edit_admins_user_path(user), class: "btn btn-secondary" %></td>
        <td><%= link_to t('views.links.destroy'), admins_user_path(user), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <nav aria-label="Pagination" class="d-flex justify-content-center mt-2 mb-2">
    <%= will_paginate @users, renderer: @custom_paginate_renderer %>
  </nav>

</div>