<% provide(:head_title, t('views.user.show.title')) %>
<% provide(:page_title, t('views.user.show.title')) %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('views.user.table.name') %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('views.user.table.email') %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('views.user.table.username') %>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= t('views.user.table.register_number') %>:</strong>
  <%= @user.register_number %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p class="">
  <% if @user.image.attached? %>
    <img src="<%= url_for(@user.image) %>">
  <% end %>
</p>

<%= link_to t('views.links.edit'), edit_admins_user_path(@user) %> |
<%= link_to t('views.links.back'), :admins_users %>
