<input type="hidden" id="search-path" value="<%= admins_users_non_admin_path %>">

<%= simple_form_for @admin, :url => admins_set_user_as_admin_path, html: {autocomplete: 'off'} do |f| %>
  <%= f.input :id, :as => :hidden, wrapper_html: {class: 'user_id'} %>
  <%= f.input :username, wrapper_html: {id: 'search-input', data: {id: 'search-input'}, class: 'input-search col-12', placeholder: t('views.search.placeholder')} %>
  <div data-id="dropdown-users" class="dropdown-users dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="width: 95%; position: absolute; transform: translate3d(35px, 106px, 0px); top: 0px; left: 0px; will-change: transform; cursor: pointer"></div>
  <%= f.association :role, collection: @roles, include_blank: false, wrapper_html: {class: 'col-12'} %>


  <div class="form-footer">
    <div class="d-flex">
      <%= link_to t('views.links.back'), admins_admins_path, class: 'btn btn-secondary' %>
      <%= f.button :submit, class: 'btn btn-primary ml-auto' %>
    </div>
  </div>
<% end %>