<div id="<%= id %>" class="card card-collapsed">
  <div class="card-status <%= class_status %>"></div>
  <div class="card-header">
    <span class="badge <%= class_status %>"><%= members.count %></span>
    <h3 class="ml-3 card-title"><%= title %></h3>
    <div class="card-options">
      <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
    </div>
  </div>
  <div class="card-body">

    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.audience_member.name') %></th>
          <th><%= t('activerecord.attributes.audience_member.cpf') %></th>
          <th><%= t('activerecord.attributes.audience_member.email') %></th>
        </tr>
      </thead>

      <tbody>
        <% members.each do |audience_member|%>
          <tr>
            <td><%= audience_member.name %></td>
            <td><%= audience_member.cpf %></td>
            <td><%= audience_member.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
