<div class="row">
  <div class="col-sm-12 col-lg-6 mb-2">

    <div class="input-group mb-3">
      <div class="input-group">
        <%= text_field_tag :search, params[:term],
                           data: { url: search_admins_audience_members_path },
                           class: 'form-control enter-to-submit-search',
                           placeholder: t('views.search.placeholder') %>
        <span class="input-group-append">
          <button class="btn btn-outline-info submit-search" type="button"><i class="fe fe-search"></i></button>
        </span>
      </div>
    </div>

  </div>

  <div class="col-sm-12 col-lg-3 mb-3">
    <%= link_to new_admins_audience_member_path, class: "btn btn-outline-primary btn-block" do %>
      <%= icon('fas', 'plus', class: 'mr-2') %><%= t('views.audience_member.links.new') %>
    <% end %>
  </div>

  <div class="col-sm-12 col-lg-3">
    <%= link_to admins_new_audience_members_from_csv_path, class: "btn btn-outline-primary btn-block" do %>
      <%= icon('fas', 'plus', class: 'mr-2') %><%= t('views.audience_member.import.btn_csv') %>
    <% end %>
  </div>

</div>
