<% provide(:head_title, I18n.t('activerecord.models.audience_member.other')) %>
<% provide(:page_title, I18n.t('activerecord.models.audience_member.other')) %>

<%= simple_form_for(:csv, url: admins_create_audience_members_from_csv_path, method: :post) do |f| %>
  <div class="row">
    <%= f.input :file, as: :choose_file, :label => false, :required => true, wrapper_html: { class: 'col-sm-6' } %>

    <div class="col-sm-3">
      <%= button_tag type: 'submit', class: 'btn btn-outline-primary btn-block' do %>
        <i class="fe fe-user-plus"></i> <%= t('views.audience_member.import.btn_csv')%>
      <% end %>
    </div>

    <div class="col-sm-3">
      <%= link_to '/samples/audience_members.csv', class: 'btn btn-outline-primary btn-block' do %>
        <%= icon('fas', 'download', class: 'mr-2') %><%= t('views.audience_member.import.btn_download_sample_file') %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @result %>
  <%= render 'import_messages', title: I18n.t('views.audience_member.import.registered'),
                                id: :registered, members: @result.registered, class_status: 'bg-green' %>

  <%= render 'import_messages', title: I18n.t('views.audience_member.import.already_registered'),
                                id: :already_registered, members: @result.already_registered, class_status: 'bg-yellow' %>

  <%= render 'import_messages', title: I18n.t('views.audience_member.import.duplicates'),
                                id: :duplicates, members: @result.duplicates, class_status: 'bg-orange' %>

  <%= render 'import_messages', title: I18n.t('views.audience_member.import.invalids'),
                                id: :invalids, members: @result.invalids, class_status: 'bg-red' %>
<% end %>
