<% provide(:head_title, I18n.t('activerecord.models.audience_member.other')) %>
<% provide(:page_title, I18n.t('activerecord.models.audience_member.other')) %>

<%= render 'index_header' %>

<div class="text-right mb-4">
  <%= page_entries_info @audience_members %>
</div>

<div class="table-responsive dataTables_wrapper">
  <table class="table card-table table-striped table-vcenter table-options">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.audience_member.name') %></th>
        <th><%= t('activerecord.attributes.audience_member.cpf') %></th>
        <th><%= t('activerecord.attributes.audience_member.email') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @audience_members %>
    </tbody>
  </table>

  <%= paginate @audience_members %>
</div>
