<% provide(:head_title, I18n.t('simple_form.buttons.view', entity: I18n.t('activerecord.models.audience_member.one').downcase)) %>
<% provide(:page_title, I18n.t('simple_form.buttons.view', entity: I18n.t('activerecord.models.audience_member.one').downcase)) %>

<p>
  <strong><%= t('activerecord.attributes.attribute_commons.name') %>: </strong>
  <%= @audience_member.name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.attribute_commons.cpf') %>: </strong>
  <%= @audience_member.cpf %>
</p>
<p>
  <strong><%= t('activerecord.attributes.attribute_commons.email') %>: </strong>
  <%= @audience_member.email %>
</p>

<div class="d-flex mt-3 footer">
  <%= link_to t('views.links.back'), admins_audience_members_path, class: 'btn btn-secondary' %>
  <%= link_to t('views.links.edit'), edit_admins_audience_member_path(@audience_member), class: 'btn btn-primary ml-auto' %>
</div>
